body {
    background-color: #ffffff !important;
}

.header {
    height: 10%;
}

.content {
    height: 90%;
    padding: 15px;
}

.title-image {
    height: 75px;
    padding: 10px;
}

.title {
    padding-top: 10px;
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    display: block;
}

.subtitle {
    font-size: 15px;
    color: #767676;
}

.scroll-container {
    overflow-y: auto;
    height: 450px;
}

.video-icon {
    height: 50px;
}

.video-item h6 {
    margin-left: 10px;
}

.video-frame {
    width: 100%;
    height: 100%;
}